<%= form_with(model: subreddit, class: "space-y-5 mx-auto") do |form| %>
  <% if subreddit.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(subreddit.errors.count, "error") %> prohibited this subreddit from being saved:</h2>
      <ul class="list-disc ml-6">
        <% subreddit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :title, class: ["mt-2 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500", 
      {"border-gray-300 focus:ring-blue-600": subreddit.errors[:title].none?, "border-red-400 focus:ring-red-500": subreddit.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :body, class: "block text-sm font-medium text-gray-700" %>
    <%= form.textarea :body, rows: 4, class: ["mt-2 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500", 
      {"border-gray-300 focus:ring-blue-600": subreddit.errors[:body].none?, "border-red-400 focus:ring-red-500": subreddit.errors[:body].any?}] %>
  </div>

  <div class="my-5">
    <%= form.number_field :user_id, class: ["mt-2 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500", 
      {"border-gray-300 focus:ring-blue-600": subreddit.errors[:user_id].none?, "border-red-400 focus:ring-red-500": subreddit.errors[:user_id].any?}], value: current_user.id, type: "hidden" %>
  </div>

  <div class="mt-5 flex">
    <%= form.submit "Submit", class: "w-full sm:w-auto rounded-md px-4 py-2 bg-blue-600 hover:bg-blue-500 text-white font-medium cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>
<% end %>
